[submodule "rollups-examples"]
	path = rollups-examples
	url = https://github.com/kirilligum/rollups-examples
[submodule "trust-and-teach-cartesi"]
	path = trust-and-teach-cartesi
	url = git@github.com:kirilligum/trust-and-teach-cartesi.git
[submodule "frontend-web-cartesi-trust-and-teach"]
	path = frontend-web-cartesi-trust-and-teach
	url = git@github.com:kirilligum/frontend-web-cartesi-trust-and-teach.git
